<%- include('../partials/header', { title: 'Return & Refund Policy' }) %>

<div class="container my-5">
    <h1 class="mb-4">Return & Refund Policy</h1>
    <div class="row">
        <div class="col-md-10">
            <h3>Return Policy</h3>
            <p>We want you to be completely satisfied with your purchase. If you are not satisfied, you may return the product within the specified return period.</p>
            <h3>Return Conditions</h3>
            <ul>
                <li>Products must be in original condition</li>
                <li>Original packaging should be included</li>
                <li>Return request must be made within the return period</li>
                <li>Proof of purchase is required</li>
            </ul>
            <h3>Refund Process</h3>
            <p>Once we receive and inspect the returned product, we will process your refund. Refunds will be issued to the original payment method.</p>
            <h3>Contact</h3>
            <p>For return and refund inquiries, please contact us at tusharelectronics8439@gmail.com</p>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

