<%- include('../partials/header', { title: 'Shipping Policy' }) %>

<div class="container my-5">
    <h1 class="mb-4">Shipping Policy</h1>
    <div class="row">
        <div class="col-md-10">
            <h3>Shipping Information</h3>
            <p>We offer shipping services for all our products. Shipping charges and delivery times may vary based on your location and the products ordered.</p>
            <h3>Delivery Time</h3>
            <p>Standard delivery times are typically 3-7 business days, depending on your location. We will provide you with an estimated delivery date when you place your order.</p>
            <h3>Shipping Charges</h3>
            <p>Shipping charges are calculated based on the weight, size, and destination of your order. Free shipping may be available for orders above a certain amount.</p>
            <h3>Tracking</h3>
            <p>Once your order is shipped, you will receive a tracking number via email to track your shipment.</p>
            <h3>Contact</h3>
            <p>For shipping inquiries, please contact us at tusharelectronics8439@gmail.com</p>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

